[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = {version = "==1.14.0", extras = ["forms"]}
django-model-utils = "==4.4.0"
pytz = {version = "==2022.1"}
Django = {version = "==4.1.3", extras = ["all"]}
Pillow = {version = "==9.2.0"}

[dev-packages]
pytest = {version = "==6.2.5"}

[requires]
python_version = ">=3.9, <3.11"
